<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Key0" value="https%3A%2F%2Fpostman-echo.com%2Fget%3F,https%3A%2F%2Fpostman-echo.com%2Fget%3F,https%3A%2F%2Fpostman-echo.com%2Fget%3F,https%3A%2F%2Fpostman-echo.com%2Fget%3F,https%3A%2F%2Fnet.hr%2F,https%3A%2F%2Fnet.hr%2F" />
    </appSettings>
</configuration>